<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZoomTanzania</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/megamenudefault.css" />
		<link rel="stylesheet" type="text/css" href="css/megamenucomponent.css" />
		<link href="css/home.css" rel="stylesheet" type="text/css" />
		<link href="css/style_dining.css" rel="stylesheet" type="text/css" />
		<script src="js/modernizr.custom.js"></script>
        </style><script src="js/modernizr.custom.63321.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {

				$( '#mi-slider' ).catslider();

			});
		</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=231785620286787";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>

<body><div id="page"><div id="bannerextrapage" align="center"><a href="#"></a></div><div id="main"><!--CONTENT center-->
	  <div id="columncontent">
	    <div id="container">
    <h1 align="center"> Dining, Arts &amp; Entertainment<img src="images/blubar.gif" alt="" width="540" height="5" /></h1>
   <div><div  class="fb-like" data-href="http://www.facebook.com/pages/ZoomTanzaniacom/196820157025531" data-send="true" data-width="400" data-show-faces="true"></div></div>

    
 <div></div>
    </div><div class="dining">
      <div class="label"><h3>dining</h3></div>
      <div><ul>
     <li class="threetimes"><a name="S44" id="S44"></a><img src="images/R_restaurantguide.jpg" alt="Business Equipment &amp; Supply" width = "335" height = "120" align="left" /><br />
            <h2><a href="#">tanzania restaurants guide<br />
            -159- </a></h2>
     </li></ul></div>
        <div class="label"><h3>entertainment</h3></div>
        <div>
        <ul>
	<li class="twotimes"><a name="S44"></a>
			
			
				  <h2><a href="#">MOVIE THEATERS<br />
		    -4-</a><br />
		    <img src="images/R_movie-theater.jpg" alt="Automotive, Motorcycle &amp; Marine" width = "150" height = "120" /></h2>
		  </li>
		


<li class="twotimes"><a name="S44"></a>
			
				<h2><a href="#">MUSEUM, ZOO &amp; BOTANICAL GARDEN<br />
				  - 4 -</a>
				</h2>
           
					<img src="images/D_museum.png" alt="Automotive, Motorcycle & Marine" width = "150" height = "120" />
									                 
	      </li>
<li class="twotimes"><a name="S44"></a>
				<h2><a href="#">Cultural Centers and Institutes<br />-7-</a>
				</h2>
					<img src="images/D_cultural.png" alt="" width = "150" height = "120" />					                 </li>
            <li class="twotimes"><a name="S44"></a>
				<h2><a href="#">family fun<br />-7-</a>
				</h2>
			  <img src="images/D_family.png" alt="" width = "150" height = "120" />					                 </li>
          </ul></div> 
          
          <div class="label"><h3>Nightlife</h3></div>
<div>
<ul>
 <li class="twotimes"><a name="S44"></a>
			  <h2><a href="#">Bars, Clubs and Pubs<br />-7-</a>
				</h2>
					<img src="images/R_barclubpub.jpg" alt="
                    " width = "150" height = "120" />					                 </li>
         <li class="twotimes"><a name="S44"></a>
				<h2><a href="#">Casinos<br />-7-</a>
				</h2>
					<img src="images/R_casino-roulette.jpg" alt="" width = "150" height = "120" />					                 </li></ul>
      </div> 
      <div class="label"><h3>The arts</h3></div>
      <div><ul> <li class="twotimes"><a name="S44"></a>
			  <h2><a href="#">Artists and Arts Galleries<br />-7-</a>
				</h2>
					<img src="images/D_artist.png" alt="" width = "150" height = "120" />					                 </li> 
      <li class="twotimes"><a name="S44"></a>
			  <h2><a href="#">Tanzania Performing Arts<br />-7-</a>
				</h2>
					<img src="images/D_performingarts.png" alt="" width = "150" height = "120" />					                 </li>
   
      </ul>
      </div>
      
      <div></ul></div>
      </div> 
      </div> 
      </div> <div id="welcometext" align="left">Welcome to the <strong>Tanzania Arts and Entertainment,</strong> directory on ZoomTanzania.com.  Browse the categories below to find related <strong>Arts and Entertainment Businesses</strong> in Tanzania, Dar es Salaam, Arusha and Zanzibar.  <a title="Find Wedding and Party Planner in Tanzania" target="" href="http://www.zoomtanzania.com/Wedding-And-Party-Planners">Plan a party</a>, <a title="Search the Tanzania Restaurants Guide" target="" href="http://www.zoomtanzania.com/Tanzania-Restaurants-Guide">find a restaurant</a>, look up the <a title="Find the Latest Tanzania Movie Theaters" target="" href="http://www.zoomtanzania.com/Tanzania-Movie-Theaters">latest cinema schedules</a> or browse hundreds of other Tanzania Businesses providing Arts and Entertainment services.Entertainment services.ed in each category.</div>
  
		



</div><!-- SIDEBAR RIGHT--><div id="sidebar2"><div id="box_banner"></div><!--<div id="box_left">
    <h4>Latest Featured Business<br />
      <img src="images/blueline.gif" alt="" width="170" height="5" /></h4>
    <ul class="imageList">
      <li><a href="#" >Easter Holiday<br />
          Special Package to Maldive<br />
        <img class="left" src="images/latestbusiness.jpg" width="141" height="200" alt="" /><br />
         </a></li>
    </ul>

</div>--></div>
  
  </div>
  <!--FOOTER
<div id="footer"><div class="itemcenter"><img src="images/banner_top728.jpg" width="728" height="90" /></div></div>--></div>
</body>
</html>
