<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZoomTanzania</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/allerfont.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/megamenudefault.css" />
		<link rel="stylesheet" type="text/css" href="css/megamenucomponent.css" />
		<link href="css/home.css" rel="stylesheet" type="text/css" />
		<link href="css/style_categories.css" rel="stylesheet" type="text/css" />
		<script src="js/modernizr.custom.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script><script src="js/modernizr.custom.63321.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/cbpHorizontalMenu.min.js"></script>
		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
		
		<script>
$(function() {

				$( '#mi-slider' ).catslider();

			});
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
        </script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=231785620286787";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>

<body><div id="page">

	<div id="headersitewide">
	
	<div><img src="images/sitewide/logoZoom.jpg" alt="" width="275" height="91" style=""/></div><div align="right"><img src="http://placehold.it/728x90" alt="" /></div>
	</div>
 
  </div>

</body>
</html>
