

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.menubox > header nav {
	float: right;
	position: absolute;
	width: 1020px;
	z-index:!important 1000;
	color:#fff;
}

.menubox > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	color:#fff;
}

.menubox > header nav a:after {
	content: attr(data-info);
	color: #0e4e92;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.menubox > header nav a:hover:after {
	opacity: 1;
}

.menubox > header nav a:hover {
	background: #fff;
}

.icon-drop:before, 
.icon-arrow-left:before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	line-height: 2;
	text-align: center;
	color: #0e4e92;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.menubox > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

.menuline {
	line-height:100%;
}