@charset "UTF-8";
/* CSS Document */
/*General for all categories boxes and menu for tourism*/
	
	/*CATEGORIES LISTING PAGE */


	.categories, .events
	{
	display: inline-block;
	width: 600px;
	padding: 0px;
	margin: 0px 0px;
	vertical-align: text-top;
	text-align: left;
	zoom: 1;
	*display: inline;
	float: left;
	font-weight:700;
	font-size:11px;
	line-height:12px;
	}

	.categories div, .events div
	{
	border: solid 1px #ccc; 
	display: inline-block; 
	width:180px; 
	min-height: 215px;
	padding: 10px 0 10px 0; 
	margin: 7px 3px;  
	vertical-align: text-top; 
	text-align: center !important; 
	zoom: 1; 
	*display: inline;
	float:left;
	}
	
	.events div{
		height: 240px;}
		

	.categories ul, .events ul
	{list-style: none;
	}
	
	.categories li, .events li
	{
	width:180px; 
	/*	max-width: 250px;*/
	min-height:210px;
	float:left;
	padding:10px;
	margin:8px;
	margin: 7px 3px;  
	vertical-align: text-top; 
	text-align: center !important; 
	}
	
	.categories h2
	{text-transform:uppercase;
	}
	
	.categories h2, .events h2{
	font-size:12px; 
	font-weight:bold;
	line-height:14px;
	}
	
	.categories div img,  .events div img  {
  	margin: 0 10px 0 10px;
  	margin-top: 5px;
  	margin-bottom: 5px;
	border:#CCC solid 1px;
	min-width:120px;
	max-width:150px;
	max-height:120px;
	}
	
	.events div img   {
	min-width:90px;
	max-width:120px;
	max-height:170px;
	}

/* This is very important for any listing detail page content*/

	.list, .listlogo
	{display: inline-block;
	width: 600px;
	margin: 0px 0px;
	vertical-align: text-top;
	*zoom: 1;
	float: left;
	min-width: 600px;}
	
/*	.list div 
	{border:solid #CCC 1px;
	display: inline-block; 
	margin: 7px 3px; 
	max-width:575px;
	padding: 20px 20px 20px; 
	vertical-align: text-top; 
	text-align: left; 
	float:left;
	}
*/
	.list div, .listlogo div {
	border:solid #CCC 1px;
	margin: 7px 3px; 
	display: inline-block;
	max-width:575px;
	min-width:575px; 
	text-align: left; 
	float:left;
	padding: 20px 20px 20px; 
	}

	.list img, .listlogo img 
{	display: inline-block; 
	margin-right: 5px;
	margin-bottom: 5px;  
	vertical-align: text-top; 
	text-align: left; 
	float:left;
	vertical-align:middle;}
	
	.list ul {
	list-style: none;	
	}
	
	.list li{
	width: 240px;
/*	max-width: 250px;*/
	min-height:80px;
	float:left;
	padding:10px;
	margin:8px;
	}

/*	.listlogo
	{display: inline-block;
	max-width: 585px;
	margin: 0px 0px;
	zoom: 1;
	*display: inline;
	float: left;}
	
	.listlogo div {
	border:solid #CCC 1px;
	margin: 7px 3px; 
	padding: 20px 20px 20px; 
	text-align: left; 
	min-width: 585px;}

	.listlogo img 
	{display: inline-block; 
	margin-right: 5px;
	margin-bottom: 5px;  
	vertical-align: text-top; 
	text-align: left; 
	float:left;
	vertical-align:middle;}
	*/
	
	.listlogo ul {
	list-style: none;	
	}
	
	.listlogo li{
	margin: 7px 3px; 
	padding: 10px; 
	text-align: left; 
	min-width: 180px;
	max-width: 180px;
	float: left;}

/*BUSINESS PAGE SECTION LANDING PAGE*/
	
	.business {
	width: 100%;
	position: relative;
	margin-left: auto; margin-right: auto;
	display:block;
	line-height: 15px;
}

	.business ul {
	list-style-type: none; 
	padding:10px;
}
		
	.business li {
	border: solid 1px #ccc; 
	display: inline-block; 
	width: 185px; 
	padding: 15px; 
	margin: 7px 3px;  
	vertical-align: text-top; 
	text-align: center; 
	zoom: 1; 
	*display: inline;
	float:left;
	min-height: 250px;
	max-height: 250px;}
	
	.business h2 {
	font-size:11px; 
	line-height:11px;
	text-transform:uppercase;
}
 
	.business li img {
	margin-top: 5px;
	border:#CCC solid 1px}

	
	.business select {
	width: 170px; 
	background: #fff; 
	border: solid 1px #ffffff; 
	margin: 10px 0;}

	.zoomreccomend h2 {
	color:#0D4E91;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
	}
	
	/*SUB SECTION LANDING PAGE */

	.directory {
	width: 100%;
	position: relative;
	margin-left: auto; margin-right: auto;
	display:block;
	line-height: 15px;
	}
	
	.directory ul {
	list-style-type: none; 
	padding:10px;
	}
		
	.directory li 
	{border: solid 1px #ccc; 
	display: inline-block; 
	width: 180px; 
	padding: 20px; 
	margin: 7px 3px;  
	vertical-align: text-top; 
	text-align: center; 
	*display: inline;
	float:left;
	min-height: 226px;}
 
	.directory li img {
	margin-top: 5px;
	border:#CCC solid 1px}
	
	.directory h2, .directory h2 a {
	font-size:11px; 
	line-height:11px;
	text-transform:uppercase;
}